/* Form Input */
.main-section {
	max-width: 1466px;
	margin: 0 auto;
	font-family: 'Barlow','sanserif';
	padding: 0 20px;
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
			color: black;
		}
		&:visited {
			text-decoration: none;
			color: black;
		}
		&:focus {
			text-decoration: none;
			color: black;
		}
	}
}
.header {
	font-weight: bold;
	font-size: 36px;
	margin-top: 80px;
	margin-bottom: 40px;
}
.sub-header {
	font-weight: medium;
	font-size: 18px;
	margin-bottom: 40px;
}
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(308px, 308px));
	row-gap: 50px;
	column-gap: 50px;
}
.indicator {
	position: relative;
	width: 0;
	height: 0;
}
.indicator-card {
	position: absolute;
	width: 0;
	height: 0;
	top: 10px;
	left: 10px;
	width: 63px;
	height: 24px;
	border-radius: 12px;
	background: #00000052 0% 0% no-repeat padding-box;
	color: white;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: 3;
}
.card {
	height: 295px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0px 4px 24px #00000014;
	border-radius: 4px;
	img {
		height: 228px;
		width: 100%;
		object-fit: cover;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		transform: scale(1.1);
		opacity: .8;
		transition: transform .5s , opacity .5s;
		&:hover {
			transform: scale(1.03);
			opacity: 1;
		}
	}
}
.location-name {
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 16px;
}
.img-wrapper {
	height: 228px;
	overflow: hidden;
}
.add-icon {
	color: lightgray;
}
.add-card {
	height: 295px;
	background-color: white;
	display: flex;
	border-radius: 4px;
	box-shadow: 0px 4px 24px #00000014;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
	cursor: pointer;
}
.back-arrow {
	margin-right: 8px;
	color: #999898;
}
.architecture-card {
	height: 295px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0px 4px 24px #00000014;
	border-radius: 4px;
	overflow: hidden;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		transform: scale(1.1);
		opacity: .8;
		transition: transform .5s , opacity .5s;
		&:hover {
			transform: scale(1.03);
			opacity: 1;
		}
	}
}
.active-card {
	cursor: pointer;
}
.carousel-item {
	img {
		height: 909px !important;
		object-fit: cover;
		border-radius: 16px;
	}
}
.icon-container {
	background-color: whitesmoke;
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close-div {
	position: relative;
	cursor: pointer;
}
.close-btn {
	position: absolute;
	top: 20px;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	right: 55px;
	top: 25px;
	background: #000000 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 24px #00000014;
	opacity: 0.56;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	span {
		opacity: 1 !important;
	}
}
.modal-dialog {
	max-width: 1212px;
	background: transparent !important;
}
.carousel-inner {
	border-radius: 20px;
}
.carousel-control-btns {
	width: 60px;
	height: 60px;
	background-color: white;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-control-prev-icon {
	background: white;
	background-blend-mode: difference;
}
.carousel-control-next-icon {
	background: white;
	background-blend-mode: difference;
}
.textOnInput {
	position: relative;
	label {
		position: absolute;
		top: -13px;
		left: 23px;
		padding: 2px;
		z-index: 1;
		&:after {
			content: " ";
			background-color: #fff;
			width: 100%;
			height: 13px;
			width: 110px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}
label {
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
}
.form-control {
	padding: .675rem .75rem !important;
	box-shadow: none !important;
	height: 64px !important;
}
.modal-content {
	border-radius: 16px !important;
	width: 560px !important;
	height: 325px !important;
	background-color: transparent;
	border: none;
}
.carousel-modal-content {
	width: 100%;
	pointer-events: auto;
}
.pridat-content {
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-evenly !important;
	flex-grow: 1;
	width: 80%;
	margin: 0 auto;
}
.modal-header {
	border-bottom: none !important;
}
.pridat-header {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
.pridat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pridat-btn {
	width: 100%;
	height: 64px;
	background: #000000 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
}
.add-image-dialog {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px dashed #DDDDDD;
	border-radius: 4px;
	opacity: 1;
	width: 100%;
	height: 258px;
	justify-content: center;
	align-items: center;
	row-gap: 14px;
}
.add-image-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	outline: 0;
}
.add-image-title {
	text-align: center;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.add-image-description {
	text-align: center;
	font: normal normal normal 16px/19px Barlow;
	letter-spacing: 0px;
	color: #000000;
	opacity: 0.56;
}
.add-image-btn {
	border: 2px solid #000000;
	border-radius: 4px;
	opacity: 1;
	width: 170px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

