.main-section {
    max-width: 1466px;
    margin: 0 auto;
    font-family: 'Barlow','sanserif';
    padding: 0 20px;
}

.header{
    font-weight: bold;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.sub-header{
    font-weight: medium;
    font-size: 18px;
    margin-bottom: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(308px, 308px));
    row-gap: 50px;
    column-gap: 50px;
}


.indicator{
    position: relative;
    width: 0;
    height: 0;
}

.indicator-card{
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: 10px;
}

.indicator-card{
    width: 63px;
    height: 24px;
    border-radius: 12px;
    background: #00000052 0% 0% no-repeat padding-box;
    color:white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 3;
}



.card{
    height: 295px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 4px 24px #00000014;
    border-radius: 4px;
}
.location-name{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
}
.img-wrapper{
    height: 228px;
    overflow:hidden;
}

.card img{
    height: 228px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transform: scale(1.1);  
    opacity: .8;
    transition: transform .5s , opacity .5s;
}

.card img:hover{
    transform:scale(1.03);
    opacity: 1;
}

.add-icon{
    color:lightgray;
}

.add-card{
    height: 295px;
    background-color: white;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 4px 24px #00000014;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.main-section a{
    text-decoration: none;
    color: black;
}
.main-section a:hover,.main-section a:visited, .main-section a:focus {
    text-decoration: none;
    color: black;
}

.back-arrow{
    margin-right: 8px;
    color:#999898;
}


.architecture-card{
    height: 295px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 4px 24px #00000014;
    border-radius: 4px;
    overflow:hidden;
}

.architecture-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transform: scale(1.1);  
    opacity: .8;
    transition: transform .5s , opacity .5s;
}

.architecture-card img:hover{
    transform:scale(1.03);
    opacity: 1;
}

.carousel-item img {
    height: 909px !important;
    object-fit: cover;
    border-radius: 16px;
}

.icon-container{
    background-color: whitesmoke;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon{
    background-blend-mode: difference;
    background-color: white;
}
.carousel-control-next-icon{
    background-blend-mode: difference;
    background-color: white;
}

.close-div{
    position: relative;

}

.close-btn{
    position: absolute;
    top: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    right: 55px;
    top: 25px;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 24px #00000014;
    opacity: 0.56;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.close-btn span{
    opacity: 1 !important;
}


.modal-dialog{
    max-width: 1212px;
    background: transparent !important; ;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.carousel-inner{
    border-radius: 20px;
}